<!DOCTYPE html>
<html>
  <head>
    <title>All Sales Vinyl</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <style> 
    body {
      background: linear-gradient(144deg, #A7C957, #F2E8CF, #BC4749);
      background-size:contain;
      min-height:100vh;
    }
    .container {
      background-color:white;
      border-radius:1rem;
      padding:1rem;
    }
    </style>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>